body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
  font-size: 20px;
 }

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #d1d8e0;
  border-width: 7px;
  width: 5%;
  margin: 80px auto;
}

.subtitle {
  color: white;
}

h1 {
  font-size: 5.625rem;
  margin: 0 auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-weight: bold;
  color: white;
  padding-top: 150px;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  line-height: inherit;
  color: #34ace0;

}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #34ace0;
  font-weight: bold;
  margin-bottom: 40px;
}

p {
  line-height: 1.5;
  font-family: 'Merriweather', serif;

}

.top-container {
   background-color: #227093;
   position: relative;
}

a {
color:#84817a;
text-decoration: none;
font-family: 'Montserrat', sans-serif;
}
a:hover {
  color: #Eaf6f6;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  margin-top: 30px;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}
.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.firstImg {
  width: 15%;
  float: left;
  margin-right: 30px;
}

.secondImg {
  width: 30%;
  float: right;
  border-radius: 80%;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
background-color:#34ace0;
padding: 50px 0 20px;
color: white;
}

.footer-link {
   padding: 20px;
}
.copyright {
  color: inherit;
  font-size: 0.75rem;
  padding: 20px 0; 
}

.bottomCloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.topCloud {
  position: absolute;
  right: 450px;
  top: 50px;
}
/* these are the custom buttons */
.BUTTON_VTE {
   background-color: #34ace0;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 10px;
   color: #FFFFFF;
   font-family: 'Merriweather', serif;
   font-size: 20px;
   font-weight: bold;
   padding: 10px 40px 10px 40px;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: grab;
   text-align: center;
}
.BUTTON_VTE:hover {
   border: solid #337FED 1px;
   background-color: #34ace0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

#circle {
  border-radius: 100%;
  padding-top: 20px;
}
